body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h
{
  font-size: 30px;
  color: rgb(25, 23, 23);
}


/* .form-1
{
  padding: 10px;
  border: 2px solid black;
}

.form-2
{
  display: flex;
  flex-direction: column;
} */
/* 
form
{
  display: flex;
  flex-direction: column;
  margin: 15px 00;
}
input, select
{
  padding: 6px;
 margin: 6px 00;
}


.main-div
{
  width: 500px;
  margin: 0 auto;
}

.info-div
{
  border: 3px solid rgb(232, 89, 89);
  width: 440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
}
.div-inside
{
  display: flex;
  flex-direction: row;
  background-color: rgb(181, 239, 241);
  color: black;
  margin: 6px 00;
  justify-content: space-between;
}

img
{
width: 100%;
height: 100%;
}

.div-info-1
{
  width: 40%;
}

.div-info-2
{
  width: 55%;
}

.button
{
  background-color: #00B7FF;
  border: none;
}

.container
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */


.Homepage-container
{
  width: 300px;
  padding: 20px;
  margin: 0 auto;
  background-color: rgb(255, 253, 253);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

button
{
  background-color: #00B7FF;
  padding: 6px;
  border-radius: 4px;
  width: 160px;
  border: none;
  height: 40px;
  font-size: 20px;
  font-weight: 500;
  color: white;

}

.form-1
{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  
}

.signup-container
{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: auto;
  padding: 20px;
  margin: 0 auto;
}

.signup-inside
{
  margin: 8px 00;
  display: flex;
  flex-direction: column;
}

input
{
  padding: 6px 4px;
  border-radius: 5px;
  border:1px solid rgb(72, 71, 71);
}

.submit-1
{
  background-color: #00B7FF;
  color: white;
  height: 30px;
  border: none;
  font-size: 18px;
}

.signup-container
{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;background-color: rgb(255, 255, 255);
padding: 40px;
}

h1
{
   text-decoration: underline;
   text-align: center;
}


.dashboard-h
{
  padding: 20px;
  background-color: bisque;
  color: rgb(52, 51, 51);
  font-size: 30px;
  text-align: center;
}

.common-1
{
  display: flex;
  flex-direction: row;
  
}

.mydiv-2
{
  margin-left: 53px;
}

.dashboard-users-main
{
  display: flex;
  flex-wrap: wrap;
  padding: 20px 00;
}

.user-div
{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 20%;
margin: 15px;}


.button-div-1
{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 5px;

}

.button-2
{
  width: 50px;
  font-size: 13px;
  font-weight: 500;
  color: black;
  padding: 3px 4px;
  background-color: rgb(248, 247, 247);
  border: 1px solid grey;
}

.dashboard-logout
{
  display: flex;
  justify-content: space-between;
}

.error-login
{
  color: red;
}

h8
{
  font-size: 20px;
  color: rgb(125, 121, 121);
}

table
{
  border: 2px solid rgb(69, 68, 68);
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;

}

tr
{
  border: 2px solid rgb(69, 68, 68);
}

td
{
  border: 2px solid rgb(69, 68, 68);
}

select
{
  padding: 6px 4px;
  border-radius: 5px;
  border:1px solid rgb(72, 71, 71);
}